/* General styles */
body {
  background-image: url('images/switzerland.jpg');
  margin: 0;
  padding: 0;
  max-width: 1200px;
  text-color: #333; /* Default text color */
  font-family: Arial, sans-serif;
}

/* Header, Main Content, and Footer */
header, footer {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

main {
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
}

/* Headings and Paragraphs */
h1, h2, h3 {
  color: #444;
}

p {
  font-size: 16px;
  color: #666;
}

/* Navigation */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
/*  display: inline;*/
  margin-right: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Forms */
input, button, textarea, select {
  margin: 5px 0;
  padding: 10px;
}

/* Ordered Lists */
ol {
  list-style-type: decimal;
  color: #666;
  padding-left: 20px;
}

/* Div and Span */
.div-example {
  border: 1px solid #ccc;
  padding: 10px;
}

span.example {
  color: #ff0000;
}

/* Class Selectors */
.blue-text {
  color: blue;
}

.highlight-background {
  background-color: yellow;
}

/* ID Selectors */
#main-heading {
  font-size: 24px;
}

#footer-content {
  font-size: 14px;
}

/* Pseudo Selectors */
p:first-child {
  font-weight: bold;
}

a:visited {
  color: #999;
}
